/* latin-ext */
@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/* Set the global variables for everything. Change these to use your own fonts and colours. */
:root {

  /* Set sans-serif & mono fonts */
  --sans-font:  'San Fransisco', -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  /* Body font size. By default, effectively 18.4px, based on 16px as 'root em' */
  --base-fontsize: 1.15rem;

  /* Major third scale progression - see https://type-scale.com/ */
  --header-scale: 1.25;

  /* Line height is set to the "Golden ratio" for optimal legibility */
  --line-height: 1.618;

  /* Default (light) theme */
  --bg: #FFF;
  --accent-bg: #F5F7FF;
  --text: #212121;
  --text-light: #585858;
  --border: #D8DAE1;
  --accent: #0D47A1;
  --accent-light: #90CAF9;
  --code: #D81B60;
  --preformatted: #444;
  --marked: #FFDD33;
  --disabled: #EFEFEF;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #212121;
    --accent-bg: #2B2B2B;
    --text: #DCDCDC;
    --text-light: #ABABAB;
    --border: #666;
    --accent: #8E5E16;
    --accent-light: #828e16;
    --code: #F06292;
    --preformatted: #CCC;
    --disabled: #111;
  }

  img, video {
    opacity: .6;
  }
}

html {
  /* Set the font globally */
  font-family: var(--sans-font);
}

/* Make the body a nice central block */
body {
  color: var(--text);
  background: var(--bg);
  font-size: var(--base-fontsize);
  line-height: var(--line-height);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  flex: 1;
  margin: 0 auto;
  max-width: 45rem;
  padding: 0 .5rem;
  overflow-x: hidden;
  word-break: break-word;
  overflow-wrap: break-word;
}

/* Make the header bg full width, but the content inline with body */
header {
  background: var(--accent-bg);
  border-bottom: 1px solid var(--border);
  text-align: center;
  padding: 2rem .5rem;
  width: 100vw;
  position: relative;
  box-sizing: border-box;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}


/* Remove margins for header text */
header h1,
header p {
  margin: 0;
  text-align:center
}

/* Fix line height when title wraps */
h1, h2, h3 {
  line-height: 1.1;
}

/* Format navigation */
nav {
  font-size: 1rem;
  line-height: 2;
  padding: 1rem 0;
}

nav a {
  margin: 1rem 1rem 0 0;
  border: 1px solid var(--border);
  border-radius: 5px;
  color: var(--text) !important;
  display: inline-block;
  padding: .1rem 1rem;
  text-decoration: none;
  transition: .4s;
}

nav a:hover {
  color: var(--accent) !important;
  border-color: var(--accent);
}

nav a.current:hover {
  text-decoration: none;
}

footer {
  margin-top: 4rem;
  padding: 2rem 1rem 1.5rem 1rem;
  color: var(--text-light);
  font-size: .9rem;
  text-align: center;
  border-top: 1px solid var(--border);
}

/* Format headers */
h1 {
  font-size: calc(var(--base-fontsize) * var(--header-scale) * var(--header-scale) * var(--header-scale) * var(--header-scale));
  margin-top: calc(var(--line-height) * 1.5rem);
}

h2 {
  font-size: calc(var(--base-fontsize) * var(--header-scale) * var(--header-scale) * var(--header-scale));
  margin-top: calc(var(--line-height) * 1.5rem);
}

h3 {
  font-size: calc(var(--base-fontsize) * var(--header-scale) * var(--header-scale));
  margin-top: calc(var(--line-height) * 1.5rem);
}

h4 {
  font-size: calc(var(--base-fontsize) * var(--header-scale));
  margin-top: calc(var(--line-height) * 1.5rem);
}

h5 {
  font-size: var(--base-fontsize);
  margin-top: calc(var(--line-height) * 1.5rem);
}

h6 {
  font-size: calc(var(--base-fontsize) / var(--header-scale));
  margin-top: calc(var(--line-height) * 1.5rem);
}

/* Format links & buttons */
a,
a:visited {
  color: var(--accent);
}

a:hover {
  text-decoration: none;
}

